body {
  color: #ecf0f1;
  text-shadow: #555 1px 1px 6px;
  line-height: 1.6;
  font-size: 16px;
  min-width: 400px;
}

.hoverable {
  margin-bottom: 15px;
}
.content {
  margin: 0 auto;
  max-width: 1160px;
  padding: 70px 20px;
  min-height: 100vh;
}
.pname {
  color: #ecf0f1;
  font-size: 1.1rem;
  text-align: center;
  display: block;
  margin: 10px 50px;
  border: #ecf0f1 1px solid;
  border-radius: 15px;
}
.content a:hover {
  color: #f0c5b2;
  border-color: #f0c5b2;
}
h1 {
  padding-top: 120px;
  font-size: 7rem;
  font-weight: 300;
}
h2 {
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: 200;
}
h3 {
  font-weight: 100;
  margin-bottom: 40px;
}

nav {
  padding: 0 25px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

nav li a {
  text-transform: uppercase;
  font-weight: 300;
}
.social {
  font-size: 3rem;
  margin-top: -10px;
}
.social a {
  color: #ecf0f1;
  margin-right: 5px;
}

.social a .fa-facebook:hover {
  color: #3b5998;
}
.social a .fa-google-plus-square:hover {
  color: #dd4b39;
}
.social a .fa-github-square:hover {
  color: #000;
}
.social a .fa-twitter-square:hover {
  color: #55acee;
}
.social a .fa-free-code-camp:hover {
  color: #006400;
}
.divider {
  margin-bottom: 60px;
}
.technologies {
  margin: 0 auto;
  max-width: 600px;
}
.technologies svg {
  max-width: 6rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}
#about {
  background-image: linear-gradient(#753a88, #e65c00);
}
#about p {
  font-size: 1.4em;
  font-weight: 200;
}
#portfolio {
  background-image: linear-gradient(#e65c00, #cc2b5e);
}

#portfolio a {
  font-variant: small-caps;
}
#contact {
  background-image: linear-gradient(#cc2b5e, #753a88);
}
#contact .content {
  min-height: 60vh;
}
#contact p {
  font-size: 1.4rem;
}
#contact button {
  font-size: 1.5rem;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #ecf0f1;
  border-radius: 8px;
  width: 100%;
}
footer {
  background-color: #753a88;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 960px) {
  h1 {
    padding-top: 60px;
  }
}
